/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-window: "﩯 ";
  display-combi: "  ";

  font: "CaskaydiaCove Nerd Font Medium 11";
}
@theme "themes/squared-everforest-mod.rasi"
