/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";

  font: "Cartograph CF Nerd Font Medium 11";
}
@theme "themes/nord.rasi"
