window {
    font-family: 'Prompt', monospace;
    font-size: 14pt;
    color: #F4DACD; /* text */
    background-color: rgba(30, 30, 30, .6);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: 0;
    background-color: rgba(30, 30, 46, 0);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #ddd; /* text */
}

button:hover {
    /* background-color: rgba(49, 50, 68, 0.1); */
}

button:focus {
    /* background-color: #661ecb; */
    /*color: #1e1e2e;*/
}

#lock {
    background-image: image(url("./assets/lock.png"));
}
#lock:focus {
    background-color: rgba(238, 120, 25, 1);
}

#logout {
    background-image: image(url("./assets/logout.png"));
}
#logout:focus {
    background-color: rgba(176, 174, 12, 1);
}

#suspend {
    background-image: image(url("./assets/sleep.png"));
}
#suspend:focus {
    background-color: rgba(18, 114, 178, 1);
}

#shutdown {
    background-image: image(url("./assets/power.png"));
}
#shutdown:focus {
    background-color: rgba(242, 6, 6, 1);
}

#reboot {
    background-image: image(url("./assets/restart.png"));
}
#reboot:focus {
    background-color: rgba(18, 178, 88, 1);
}

#hibernate {
    background-image: image(url("./assets/sleep.png"));
}
#hibernate:focus {
    background-color: rgba(94, 13, 206, 1);
/*    background-image: image(url("./assets/sleep-hover.png"));*/
}

